<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Provinces</h1>
<p>
    <a th:href="@{/create-province}">New Add Province </a>
</p>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr>
        <tr th:each="province : ${provinces}">
            <td th:text="${province.id}"></td>
            <td th:text="${province.name}"></td>
        </tr>
    </table>
</body>
</html>