<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
    <h1>Shop's Product List</h1>

<p>
    <a th:href="@{/shopping-cart}">Your Cart</a>
</p>

<p>
    <a th:href="@{/create-product}">New Add product</a>
</p>

<p>
    <form>
        Search name :
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>
</p>

<!--<th:block th:if="${message}">-->
<!--    <p th:text="${message}"></p>-->
<!--</th:block>-->

<table border="1" style="text-align: center">
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
        <td>Image</td>
        <td>Add To Cart</td>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td><img width="100" height="100" th:src="@{'/image/' + ${product.image}}" alt=""></td>
            <td><a th:href="@{/add/__${product.id}__(action='list')}">Add To Cart</a></td>
            <td><a th:href="@{/edit-product/__${product.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-product/__${product.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
    <div>
        <a th:href="@{'/shop'(page=${products.number -1})}" th:if="${products.hasPrevious()}">Previous</a>

        <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>

        <a th:href="@{'/shop'(page=${products.number +1})}" th:if="${products.hasNext()}">Next</a>
    </div>
</body>
</html>