<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Customers</h3>
    <p>
        <a th:href="@{/create}">
            Add new Customer
        </a>
    </p>
<!--<div class="notify">-->
<!--    <div th:if="${success}">-->
<!--        <span th:text="${success}"></span>-->
<!--    </div>-->
<!--</div>-->
<table id="customers">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.address}"></td>
            <td><a th:href="@{/edit/{id}(id=${customer.getId()})}">Edit</a></td>
            <td><a th:href="@{/delete/{id}(id=${customer.getId()})}">Delete</a></td>
            <td><a th:href="@{/view/{id}(id=${customer.getId()})}">View</a></td>
        </tr>
    </tbody>
</table>
</body>
</html>