<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Customer Information</title>
</head>
<body>

<p>
  <a th:href="@{/customers}">back to list</a>
</p>

<form action="/delete" th:object="${customer}" method="post">
    <fieldset>
        <legend>Customer Information</legend>
        <input type="number" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" name="name" th:field="*{name}">
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="text" name="email" th:field="*{email}">
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>
                    <input type="text" name="address" th:field="*{address}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Delete">
                </td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>