<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Employee List</h1>

  <p>
    <a th:href="@{create/Employee}"> Create Employee</a>
  </p>

    <ul>
        <th:block th:each="b : ${branchs}">
            <li><a th:href="@{/employees/__${b.id}__}" th:text="${b.name}"></a></li>
        </th:block>
        <li><a th:href="@{/employees}">All</a></li>
    </ul>

  <table border="1">
      <tr>
        <th>Employee Code</th>
        <th>Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Branch</th>
        <th></th>
        <th></th>
      </tr>
      <th:block th:each="e : ${employees}">
        <tr>
          <td th:text="${e.employee_Code}"></td>
          <td th:text="${e.name}"></td>
          <td th:text="${e.age}"></td>
          <td th:text="${e.salary}"></td>
          <td th:if="${e.branch}" th:text="${e.branch.name}"></td>
          <td ><a th:href="@{/edit/{id}(id=${e.id})}">Edit</a></td>
          <td ><a th:href="@{/delete/{id}(id=${e.id})}">Delete</a></td>
          <td ><a th:href="@{/view/{id}(id=${e.id})}">View</a></td>
        </tr>
      </th:block>
  </table>
</body>
</html>