<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>
      <b>Employee Code : <span th:text="${employee.employee_Code}"></span></b>
      <b>Name : <span th:text="${employee.name}"></span></b>
      <b>Age : <span th:text="${employee.age}"></span></b>
      <b>Salary : <span th:text="${employee.salary}"></span></b>
      <b>Branch : <span th:text="${employee.branch}"></span></b>
  </div>
</body>
</html>