<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Employee List</h1>

  <p>
    <a th:href="@{create/branch}"> Create Branch</a>
  </p>

  <table border="1">
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
      <th:block th:each="e : ${branch}">
        <tr>
          <td th:text="${e.name}"></td>

          <td ><a th:href="@{/edit/branch/{id}(id=${e.id})}">Edit</a></td>
          <td ><a th:href="@{/delete/branch/{id}(id=${e.id})}">Delete</a></td>
        </tr>
      </th:block>
  </table>
</body>
</html>