<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>List Product</title>
</head>
<body>

  <h1>List Product</h1>
  <p>
      <a th:href="@{/create}">Add new Product</a>
  </p>

  <form th:action="@{/search}" method="post">
      <input type="text" name="search">
      <input type="submit" value="Search">
  </form>

  <table id="products">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
          <th></th>
          <th></th>
          <th></th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td><a th:href="@{/edit/{id}(id=${product.getId()})}">Edit</a></td>
            <td><a th:href="@{/delete/{id}(id=${product.getId()})}">Delete</a></td>
            <td><a th:href="@{/view/{id}(id=${product.getId()})}">View</a></td>
        </tr>
      </tbody>
  </table>

</body>
</html>