<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>
<p>
    <a th:href="@{/shop}">Shop</a>
</p>

<h1>Your Cart</h1>
<form th:action="@{/shop}" th:object="${cart}" method="post" >
    <h3>Total Item: <span th:text="${cart.countItemQuantity()}"></span></h3>
    <h3>Total Products: <span th:text="${cart.countProductQuantity()}"></span></h3>
    <table border="1">x
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <th:block th:each="product : ${cart.products}">
            <tr>
                <td th:text="${product.getKey().name}"></td>
                <td th:text="${product.getKey().description}"></td>
                <td><img width="100" height="100" th:src="@{'/image/' + ${product.getKey().image}}" alt=""></td>
                <td>&ensp;
                    <a id="decrease_button" th:href="@{/add/__${product.getKey().id}__(action='add')}"
                    th:text="${'+'}"></a>&ensp;|&ensp;
                    <a id="decrease_button_minus" th:href="@{/add/__${product.getKey().id}__(action='minus')}"
                    th:text="${'-'}"></a>
                </td>
                <td th:text="${product.getKey().price}"></td>
            </tr>
        </th:block>
        <tr>
            <td>Total</td>
            <td colspan="4" th:text="${cart.countTotalPayment()}"></td>
        </tr>
    </table>
</form>
</body>
</html>